name: Ensure `go mod tidy` has been run
on: [ push, pull_request ]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      # perform matrix testing to give us an earlier insight into issues with different versions of supported major versions of Go
      matrix:
        version:
        # versions of Go that this module can still be built with (and therefore are "supported" by this project)
        - "1.20"
        - "1.21"
        - "1.22"
        - "1.23"
        # actively supported versions of Go
        - "1.24"
        - "1.25"
    steps:
      - name: Check out source code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.version }}

      - name: Install `tidied`
        run: go install gitlab.com/jamietanna/tidied@latest

      - name: Check for no untracked files
        run: tidied -verbose
